<%= simple_form_for invoice, html: {
                                      id: "#{dom_id(invoice)}_form",
                                      class: 'mt-8 w-2/3 mx-auto'
                                    } do |f| %>
  <%= f.input :description,
              wrapper_html: {
                class: 'mb-6'
              },
              label_html: {
                class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300'
              },
              input_html: {
                class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
              } %>
  <%= f.association :client,
              collection: @clients,
              wrapper_html: {
                class: 'mb-6'
              },
              label_html: {
                class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300'
              },
              input_html: {
                class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
              } %>

  <h3 class="mb-8 text-center text-xl">Eléments</h3>
  <table class="w-full">
    <thead>
      <tr>
        <th class="w-4/6 text-left">Nom</th>
        <th class="w-1/6 text-center">Quantité</th>
        <th class="w-1/6 text-right">Prix unitaire</th>
      </tr>
    </thead>
    <tbody id="invoice_items">
      <%= f.simple_fields_for :invoice_items do |invoice_item| %>
        <%= render 'invoice_items/invoice_item_fields', f: invoice_item %>
      <% end %>

    </tbody>
  </table>
  <div class="links">
    <%= link_to_add_association icon('fa-solid', 'circle-plus', class: 'text-4xl'),
                                f,
                                :invoice_items,
                                class: 'block mx-auto text-center',
                                data: {
                                  'association-insertion-node' => '#invoice_items',
                                  controller: 'auto-click'
                                }
    %>
  </div>

  <%= f.submit 'Add invoice', class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>

<% end %>
