<div class="form mx-auto md:px-40 mt-10 mb-24" style="min-width: 350px;">
  <%= simple_form_for client, html: { id: "#{dom_id(client)}_form" } do |f| %>
    <div class="p-2 rounded-xl my-4 border-2 border-komin-gray">
      <%= f.input :name,
        wrapper_html: { class: 'my-6' },
        label_html: { class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300' },
        input_html: { class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' }
      %>
      <%= f.input :address,
        as: :text,
        wrapper_html: { class: 'my-6' },
        label_html: { class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300' },
        input_html: { class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' }
      %>
      <%= f.input :country,
        as: :text,
        wrapper_html: { class: 'my-6' },
        label_html: { class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300' },
        input_html: { class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' }
      %>
      <%= f.input :rcs,
        wrapper_html: { class: 'my-6' },
        label_html: { class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300' },
        input_html: { class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' }
      %>
      <%= f.input :siret,
        wrapper_html: { class: 'my-6' },
        label_html: { class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300' },
        input_html: { class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' }
      %>
      <%= f.input :logo,
        as: :file,
        wrapper_html: { class: 'my-6' },
        label_html: { class: 'block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300' },
        input_html: { class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' }
      %>
    </div>
    <div class="actions flex justify-between px-4">
      <%= link_to "Retour", :back, class: 'btn btn-gray' %>
      <%= f.submit client.persisted? ? 'Save' : 'Add client', class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
    </div>
  <% end %>
</div>
